---
---

@import "{{ site.theme }}";
@font-face {
font-family: "ProximaNovaSoft";
src: url("proxima-nova-soft.otf");
}

body {
  font-family: "ProximaNovaSoft"
    
  header {
    text-align: center;
    img {
      max-width: 50%;
    }
  }
}
