---
---

@import "{{ site.theme }}";
@font-face {
font-family: "ProximaNovaSoft";
src: url("proxima-nova-soft.otf");
}

body {
  font-family: "ProximaNovaSoft"
}
img {
  max-width: 50%!important;
}
header {
    text-aglign: center!important;
}
