---
---

@import "{{ site.theme }}";
@font-face {
font-family: "ProximaNovaSoft";
src: url("proxima-nova-soft.otf");
}

body {
  font-family: "ProximaNovaSoft"
}
body>header {
  text-align: center;
}
body>header>img {
  max-width: 50%;
}
